@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Fira Sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f1f2e3;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    margin: 0px 0px 50px 0px;
}

main {
    margin: auto;
    max-width: 1250px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table#results {
    text-align: right;
}

td, th {
    border: 1px solid black;
    padding: 0px 10px;
    white-space: nowrap;
}

th {
    background-color: #ececec;
    text-align: left;
}

th.right {
    text-align: right;
}

td {
    font-family: "Fira Code", monospace;
}

tr > td:first-child {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    background-color: #ececec;
    position: relative;
}

tr > td:first-child:hover {
    background-color: #f6f6f6;
}

tr > td:first-child:hover > div.model-definition {
    display: block;
}

tr > th:first-child {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    background-color: #d1d1d1;
}

span.err, span.error {
    color: #ff0000;
}

span.incorrect, span.wrong {
    color: #ff0000;
    background-color: #ffcccc;
}

a.issue {
    color: #880000;
    text-decoration: none;
}

a.issue:hover {
    background-color: #ffcccc;
    transition: background-color 0.3s ease;
}

a.issue:visited {
    color: #880000;
}

div.model-definition {
    background-color: #f6f6f6;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    z-index: 5;
    font-size: 0.9em;
    text-align: left;
    font-weight: normal;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}
